/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Roboto Slab', serif;
	vertical-align: baseline;
	color:#ffffff;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*main{
	padding:1em;
	display:block;
	background-color:red;
}*/
article{
	background-color:#484848;
	margin-left:5%;
	margin-right:5%;
}
form{
	padding-top:0.6667rem;
	background-color:#484848;
	margin-left:5%;
	margin-right:5%;
}
form li {
  padding-bottom: .61111rem;
}
body {
	line-height: 1;
	background-color:#1b1b1b;
}
main{
	background-color:#4C0300;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Modular Styles */

html {
  font-size: 1.125em;  /* 18px / 16pt = 1.125 */
  line-height: 1.222em;  /* 22pt / 18em = 1.2~ */
}

figure {
	text-align: center;
}

h1 {
  font-size: 2.369em; /* 42.635 / 18 = 2.369 */
  line-height: 1.032em; /* 44 / 42.635 = 1.032 */
  padding-bottom: 0.516em; /* 22 / 42.635 = 0.516 */
	padding-top: 0.516em; /* 22 / 42.635 = 0.516 */
  width: 100%;
  text-align: center;
}

h2 {
  font-size: 1.777em; /* 31.984 / 18 = 1.777 */
  line-height: 1.032em; /* 33 / 31.984 = 1.032 */
  padding-bottom: 0.3285em;
  padding-top: 0.3285em;
  text-align:  center;
  /* display: none; */
}
nav ul li {
  width: 100%;
  float: left;
  padding: 0;
	display: table-cell;
	width: 1%;
	float: none;
}
a{
	text-decoration:none;
}
nav a {
  width: 100%;
  padding-top: 0.6667rem;/*previously set to 0.6111rem*/
  padding-bottom: 0.6667rem;/*previously set to 0.6111rem*/
  font-size: 1.375em;/*desktop set this to 1.375*/
  display: block;
  text-align: center;
  background-color: #827C46;
}
input {
	box-sizing: border-box; /* ensure padding subtracts from width */
	/*padding-right: 0.6111111111rem;*/
	width: 100%;
	border: 0;
	/* line-height: 2; */
	padding: 0.7222rem; /* {[44px(2*lineheight) - 18px(font)]px / 18} aka 13/18 = 0.72~ */
	background-color: #e8e8e8;
	font-size: 1.325em;
	}
select {
	box-sizing: border-box; /* ensure padding subtracts from width */
	/*padding-right: 0.6111111111rem;*/
	width: 100%;
	border: 0;
	/* line-height: 2; */
	padding: 0.7222rem; /* {[44px(2*lineheight) - 18px(font)]px / 18} aka 13/18 = 0.72~ */
	background-color: #e8e8e8;
	font-size: 1.325em;
	}
label{
	width: 100%;
	display: inline-block;
	text-align: center;
}
nav a:hover {
  background-color: #B5AD61;
}

/*IDs List*/

#selected-seats{
	text-align:center;
}
#price{
	text-align:center;
}
#titlebar{
	background-color:#1b1b1b;
}

#movie-list {
  display: grid;
}

#theater-list {
  display: grid;
}

#movie-list h2 {
  grid-column: 1;
  grid-row: 1;
}

#movie-list img {
  height: 30vh;
  width: 30vw;
  overflow: hidden;
  object-fit: fill;
  grid-row: 2;
  grid-column:  1;
}

#movie-list article {
  display: grid;
  grid-template-columns: 1fr 99fr;
  grid-template-rows: auto;
	background-color:#484848;
}

#movie-list aside {
  grid-column: 2;
  grid-row: 2;
	padding-left: 0.6111111111rem;
	padding-right: 0.6111111111rem;
}

#seats, #submit, #seatSectionTitle, #theaterInfoTitle, #userInformationTitle, #paymentSectionTitle, #billingAddress{
	grid-column-start: 1;
	grid-column-end: 3;
}
#lakeTheaterMovieSelector, #IMAXMovieSelector, #MooLakeTimeSelector, #MooIMAXTimeSelector, #BlartLakeTimeSelector, #LegIMAXTimeSelector{
	display:none;
}
#seats/*, #seatSectionTitle, #theaterInfoTitle, #userInformationTitle, #paymentSectionTitle*/{
  text-align: center;
}

li#seats > ul {
  display: flex;
}

li#seats > ul > li {
  width: 100%;
}

#seats input[type="checkbox"] {
  width: 2.444rem;
  height: 2.444rem;
  color: lightblue;
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
  -webkit-appearance: button;
}

#seats input[type="checkbox"]:checked {
    background-color: red;
}

/*Media Queries*/

@media screen and (min-width: 640px) {
	form > * {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	}
	form li:nth-child(2n + 1) { /* every odd one*/
	grid-column: auto;/*Original setting was 1.  I found doing this makes the layout nicer if we go with titling each section.*/
	}
	form li:nth-child(2n) { /* every even one*/
	grid-column: auto;/*Original setting was 2.  I found doing this makes the layout nicer if we go with titling each section.*/
	}
	nav a {
	  width: 100%;
	  padding-top: 0.6667rem;/*previously set to 0.6111rem*/
	  padding-bottom: 0.6667rem;/*previously set to 0.6111rem*/
	  font-size: 2.369rem;/*desktop set this to 1.375*/
	  display: block;
	  text-align: center;
	  background-color: #827C46;
	}
}

/*this following media query breaks the page layout for now, im disabling it until we can figure out how to fix it.
/*@media screen and (min-width: 1200px) {
  #movie-list article:nth-of-type(2n) {
    grid-row: 2;
  }

  #movie-list article:nth-of-type(2n+1) {
    grid-row: 1;

  }
	#theater-list article:nth-of-type(2n) {
    grid-column: 2;
	}
	#theater-list article:nth-of-type(2n+1) {
    grid-column: 1;

  }
}*/
